name: jdi

services:
  backend:
    build:
      context: .
      target: dev
      dockerfile: backend/Dockerfile
    ports:
      - "${BACKEND_PORT}:${BACKEND_PORT}"
    env_file:
      - .env
    volumes:
      - ./backend:/usr/src/app/backend
      
      - ./packages:/usr/src/app/packages

      # --- PROTEÇÃO DE DEPENDÊNCIAS (Volumes Anônimos) ---
      - /usr/src/app/node_modules             
      - /usr/src/app/backend/node_modules      
      - /usr/src/app/packages/shared/node_modules 
    depends_on:
      redis:
        condition: service_healthy
    networks:
      - app-net

  frontend:
    build:
      context: .
      target: dev
      dockerfile: frontend/Dockerfile
    ports:
      - "${FRONTEND_PORT}:${FRONTEND_PORT}"
    env_file:
      - .env
    environment:
      - VITE_BACKEND_URL=${VITE_BACKEND_URL}
    volumes:
      - ./frontend:/usr/src/app/frontend
      - ./packages:/usr/src/app/packages

      - /usr/src/app/node_modules
      - /usr/src/app/frontend/node_modules
    depends_on:
      - backend
    networks:
      - app-net

  redis:
    image: redis:7-alpine
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 5s
      timeout: 3s
      retries: 5
    networks:
      - app-net

networks:
  app-net:
    driver: bridge
